header
    nav(class="header-nav")
        div(class="header_logo")
            a(href="./") 
                img(src="./img/hanaicon-header.png" alt="")
        ul(class="header-list")
            li 
                a(href="./index.html") Top
            li 
                a(href="./about.html") About
            li 
                a(href="./service.html") Service 
            li 
                a(href="./price.html") Price 
            li 
                a(href="./gallery.html") Gallery 
            li 
                a(href="./qa.html") Q&amp;A
            li 
                a(href="./blog.html") Blog
            
    // ハンバーガー
    .hamburger-menu
        div(class="header_logo")
            a(href="./") 
                img(src="./img/hanaicon-header.png" alt="")
        input#menu-btn-check(type='checkbox')
        label.menu-btn(for='menu-btn-check')
            span
        .menus_sp
            ul.menus_sp_modal
                li.menus_sp_modal_item
                    a(href='./index.html') TOP
                li.menus_sp_modal_item
                    a(href="./about.html") About
                li.menus_sp_modal_item
                    a(href="./service.html") Service 
                li.menus_sp_modal_item
                    a(href="./price.html") Price 
                li.menus_sp_modal_item
                    a(href="./gallery.html") Gallery 
                li.menus_sp_modal_item
                    a(href="./qa.html") Q&amp;A
                li.menus_sp_modal_item
                    a(href="./blog.html") Blog

