div(class="sidemenu scroll")
    ul 
        li(class="top")
            a(href="") 
                img(src="img/top-icon.png")
        li 
            a(href="https://lin.ee/zdsOuTV") 
                img(src="img/line.png")
        li 
            a(href=" https://www.instagram.com/tomoko.hana18/?hl=ja") 
                img(src="img/insta.svg")
        li 
            a(href="tel:070-5416-5587") 
                img(src="img/phone.svg")
        li 
            a(href="https://goo.gl/maps/uTaaZppRYHqhnJVq7") 
                img(src="img/maps.png")
    