extend common/_layout

append value
    - var title= "HairemakeHana blog";
    - var description= "HairmakeHanaをご紹介いたします。宜野湾市大山にある美容室です。お客様のご希望に沿った施術をいたします。お気軽にご連絡ください。";
    - var keywords= "美容室,髪型,カット,パーマ,ヘアケア,髪";

    append addcss
    link(rel="stylesheet" href="css/index.css")

    append addjs
    script(src="js/index.js")
    //- ページのコンテンツ
    block content
    #content
        div(class="mainview -blog")
            p(class="mainview_text") Blog
        div(class="blogMenu")
            h2 ブログ
            div(class="priceWrap")
        div(class="blogWrap")
            a(class="blogWrap_item" href="") 
                dl(class="blog")
                    div(class="blog_heading")
                        p 2020/03/08
                        dt ここにはタイトル
                        dd ここにはブログの内容が入ります。ここにはブログの内容が入ります。ここにはブログの内容が入ります。ここにはブログの内容が入ります。ここにはブログの内容が入ります。ここにはブログの内容が入ります。
                    div(class="blog_img")
                        img(alt="" src="img/top05.jpg")
            a(class="blogWrap_item" href="") 
                dl(class="blog")
                    div(class="blog_heading")
                        p 2020/03/08
                        dt ここにはタイトル
                        dd ここにはブログの内容が入ります。ここにはブログの内容が入ります。ここにはブログの内容が入ります。ここにはブログの内容が入ります。ここにはブログの内容が入ります。ここにはブログの内容が入ります。
                    div(class="blog_img")
                        img(alt="" src="img/top05.jpg")
            a(class="blogWrap_item" href="") 
                dl(class="blog")
                    div(class="blog_heading")
                        p 2020/03/08
                        dt ここにはタイトル
                        dd ここにはブログの内容が入ります。ここにはブログの内容が入ります。ここにはブログの内容が入ります。ここにはブログの内容が入ります。ここにはブログの内容が入ります。ここにはブログの内容が入ります。
                    div(class="blog_img")
                        img(alt="" src="img/top05.jpg")
    footer(class="footer")
        img(src="img/hanaicon-footer.png")
