extend common/_layout

append value
    - var title= "HairemakeHana About";
    - var description= "HairmakeHanaをご紹介いたします。宜野湾市大山にある美容室です。お客様のご希望に沿った施術をいたします。お気軽にご連絡ください。";
    - var keywords= "美容室,髪型,カット,パーマ,ヘアケア,髪";

    append addcss
    link(rel="stylesheet" href="css/index.css")

    append addjs
    script(src="js/index.js")
    //- ページのコンテンツ
    block content
    #content
        div(class="mainview -gallery")
            p(class="mainview_text") Gallery
        div(class="galleryMenu")
            ul(class="galleryWrap")
                li(class="galleryWrap_item")
                    div(class="galleryWrap_item_img")
                        img(src="img/service01.jpg")
                    div(class="galleryWrap_item_disc")
                        p これはサンプルです<br>これはサンプルです<br>これはサンプルです<br>これはサンプルです
                li(class="galleryWrap_item")
                    div(class="galleryWrap_item_img")
                        img(src="img/service02.jpg")
                    div(class="galleryWrap_item_disc")
                        p これはサンプルです<br>これはサンプルです<br>これはサンプルです<br>これはサンプルです
                li(class="galleryWrap_item")
                    div(class="galleryWrap_item_img")
                        img(src="img/service03.jpg")
                    div(class="galleryWrap_item_disc")
                        p これはサンプルです<br>これはサンプルです<br>これはサンプルです<br>これはサンプルです
                li(class="galleryWrap_item")
                    div(class="galleryWrap_item_img")
                        img(src="img/service04.jpg")
                    div(class="galleryWrap_item_disc")
                        p これはサンプルです<br>これはサンプルです<br>これはサンプルです<br>これはサンプルです
                li(class="galleryWrap_item")
                    div(class="galleryWrap_item_img")
                        img(src="img/service05.jpg")
                    div(class="galleryWrap_item_disc")
                        p これはサンプルです<br>これはサンプルです<br>これはサンプルです<br>これはサンプルです
                //- 
                li(class="galleryWrap_item")
                    div(class="galleryWrap_item_img")
                        img(src="img/service01.jpg")
                    div(class="galleryWrap_item_disc")
                        p これはサンプルです<br>これはサンプルです<br>これはサンプルです<br>これはサンプルです
                li(class="galleryWrap_item")
                    div(class="galleryWrap_item_img")
                        img(src="img/service02.jpg")
                    div(class="galleryWrap_item_disc")
                        p これはサンプルです<br>これはサンプルです<br>これはサンプルです<br>これはサンプルです
                li(class="galleryWrap_item")
                    div(class="galleryWrap_item_img")
                        img(src="img/service03.jpg")
                    div(class="galleryWrap_item_disc")
                        p これはサンプルです<br>これはサンプルです<br>これはサンプルです<br>これはサンプルです
                li(class="galleryWrap_item")
                    div(class="galleryWrap_item_img")
                        img(src="img/service04.jpg")
                    div(class="galleryWrap_item_disc")
                        p これはサンプルです<br>これはサンプルです<br>これはサンプルです<br>これはサンプルです
                li(class="galleryWrap_item")
                    div(class="galleryWrap_item_img")
                        img(src="img/service05.jpg")
                    div(class="galleryWrap_item_disc")
                        p これはサンプルです<br>これはサンプルです<br>これはサンプルです<br>これはサンプルです
                //- 
                li(class="galleryWrap_item")
                    div(class="galleryWrap_item_img")
                        img(src="img/service01.jpg")
                    div(class="galleryWrap_item_disc")
                        p これはサンプルです<br>これはサンプルです<br>これはサンプルです<br>これはサンプルです
                li(class="galleryWrap_item")
                    div(class="galleryWrap_item_img")
                        img(src="img/service02.jpg")
                    div(class="galleryWrap_item_disc")
                        p これはサンプルです<br>これはサンプルです<br>これはサンプルです<br>これはサンプルです
                li(class="galleryWrap_item")
                    div(class="galleryWrap_item_img")
                        img(src="img/service03.jpg")
                    div(class="galleryWrap_item_disc")
                        p これはサンプルです<br>これはサンプルです<br>これはサンプルです<br>これはサンプルです
                li(class="galleryWrap_item")
                    div(class="galleryWrap_item_img")
                        img(src="img/service04.jpg")
                    div(class="galleryWrap_item_disc")
                        p これはサンプルです<br>これはサンプルです<br>これはサンプルです<br>これはサンプルです
                li(class="galleryWrap_item")
                    div(class="galleryWrap_item_img")
                        img(src="img/service05.jpg")
                    div(class="galleryWrap_item_disc")
                        p これはサンプルです<br>これはサンプルです<br>これはサンプルです<br>これはサンプルです
                //- 
                li(class="galleryWrap_item")
                    div(class="galleryWrap_item_img")
                        img(src="img/service01.jpg")
                    div(class="galleryWrap_item_disc")
                        p これはサンプルです<br>これはサンプルです<br>これはサンプルです<br>これはサンプルです
                li(class="galleryWrap_item")
                    div(class="galleryWrap_item_img")
                        img(src="img/service02.jpg")
                    div(class="galleryWrap_item_disc")
                        p これはサンプルです<br>これはサンプルです<br>これはサンプルです<br>これはサンプルです
                li(class="galleryWrap_item")
                    div(class="galleryWrap_item_img")
                        img(src="img/service03.jpg")
                    div(class="galleryWrap_item_disc")
                        p これはサンプルです<br>これはサンプルです<br>これはサンプルです<br>これはサンプルです
                li(class="galleryWrap_item")
                    div(class="galleryWrap_item_img")
                        img(src="img/service04.jpg")
                    div(class="galleryWrap_item_disc")
                        p これはサンプルです<br>これはサンプルです<br>これはサンプルです<br>これはサンプルです
                li(class="galleryWrap_item")
                    div(class="galleryWrap_item_img")
                        img(src="img/service05.jpg")
                    div(class="galleryWrap_item_disc")
                        p これはサンプルです<br>これはサンプルです<br>これはサンプルです<br>これはサンプルです
    footer(class="footer")
        img(src="img/hanaicon-footer.png")